html
    head
        link(href="/main.css", rel="stylesheet")
    body
        #wrapper
            input#url(type="text")
            button#go Go Figure
            h1#result
        script(src="main.js")
